html
    head
        title About
        include includes/head.pug
    body
        include includes/navbar.pug
        div(class='container')
            div Like this page? Wanna talk about it or life in general? Hit me up at 
                a(href='https://github.com/nginth') my github.
            div Thanks, 
            div Nick Ginther - July 2017
include includes/foot.pug