html
    head
        title About
        include includes/head.pug
    body
        include includes/navbar.pug
        div(class='container')
            div Cowell is a multi-streaming-service search engine. Wanna know which service has your favs? Cowell is here for you!
            div Like this page? Wanna talk about it or life in general? Hit me up at 
                a(href='https://github.com/nginth') my github.
            div Thanks, 
            div Nick Ginther - July 2017
include includes/foot.pug