html
    head
        title= title
        script(src='/js/jquery.js')
        script(src='/js/inputs.js')
    body
        p search below pls
        form(id='search-form' action='/search' method='get')
            label(for='album') album name
            input(type='text' name='album')
            label(for='artist') artist name
            input(type='text' name='artist')
            input(type='submit' value='search')