html
    head
        title= title
        include includes/head.pug
    body
        nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
              a(class="navbar-brand" href=BASE_URL) Cowell
              div(class='collapse navbar-collapse')
                ul(class='navbar-nav mr-auto')
                    li(class='nav-item')
                        a(class='nav-link' href=BASE_URL + '/about') About
        div(class='container') 
            div(class='row') search below pls
            div(class='row')
                form(id='search-form' action='/search' method='get')
                    div(class='form-group')
                        label(for='album') album name
                        input(type='text' name='album' class='form-control')
                    div(class='form-group')
                        label(for='artist') artist name
                        input(type='text' name='artist' class='form-control')
                    input(type='submit' value='search' class='btn btn-primary')
include includes/foot.pug